.menu {
  position: relative;
  text-decoration: none;
  cursor : pointer;
  text-align: center;
}

.menu::after {
  position: absolute;
  bottom: 2px;
  left: -10%;
  content: '';
  width: 120%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.menu:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

