.mainPanel{
}
.card_panel{
  z-index: 2;
  display: inline-block;
  padding: 60px 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupMenuContainer {
  position: relative;
}

.popupMenu {
  position: absolute;
  background: white;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.1s;
  z-index: 1;
  top: 10%;
  left: 5%;
  width: 90vw;
  min-height: 80%;
  color: darkgray;

  &.shown {
    transform: scale(1);
  }
}

.closePanel{
    position: absolute;
    bottom: 10px; /** 場合によっては微調整 **/
    right: 10px;  /** 場合によっては微調整 **/
}
.closeButton{
  width: 30px;
  font-size: 9pt;
}


h1 {
 counter-reset: chapter;
 text-decoration: underline;
}
h2 {
 counter-reset: sub-chapter;
 text-decoration: underline;
}
h3 {
 counter-reset: section;
 text-decoration: underline;
}
h4 {
 text-decoration: underline dotted;
}

h2::before {
 counter-increment: chapter;
 content: counter(chapter) ". ";
}
h3::before {
 counter-increment: sub-chapter;
 content: counter(chapter) "."counter(sub-chapter)". ";
}
h4::before {
 counter-increment: section;
 content: counter(chapter) "."counter(sub-chapter)"."counter(section)" ";
}
