.mainPanel{
}
.card_panel{
  z-index: 2;
  display: inline-block;
  padding: 60px 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupMenuContainer {
  position: relative;
}

.popupMenu {
  position: absolute;
  background: white;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s;
  z-index: 1;
  top: 10%;
  left: 5%;
  width: 90vw;
  min-height: 80%;
  color: darkgray;

  &.shown {
    transform: scale(1);
  }
}

