:root{
--header-size: 44px;
--header-color: #40c0d0;
}

.Header{
  height: var(--header-size);
  background: var(--header-color);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}
.Icon{
  height:20px;
  display: flex;
}
.nav {
  position: absolute;
  margin: 0px 5px;
  top: 10px;
}
.nav-icon{
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  text-align: center
}
.nav-item {
  display: inline-block;
  vertical-align: middle;
  min-width: 70px;
  text-align: center
}
